body {
    background-color: #07111b0f;
}

.front-container {
    min-height: 100vh;
}
.front-notice {
    width: 100%;
    top: 0px;
    padding: 5px 20px;
    color: #666;
    font-size: 12px;
    height: 50px;
    position: fixed;
    z-index: 1000;
    background-color: white;
}
.front-header {
    width: 100%;
    display: flex;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    top: 50px;
    position: fixed;
    z-index: 1000;
    background-color: white;
}
.front-header-left {
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.front-header-left img, .front-header-dropdown img {
    width: 40px;
    height: 40px;
    border-radius: 50%
}
.front-header-left .title {
    flex: 1;
    color: #409EFF;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.front-header-center {
    flex: 1;
}
.front-header-nav{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.front-header-right {
    padding-right: 20px;
    text-align: right;
}
.front-header-dropdown {
    display: flex;
    align-items: center;
    justify-content: right;
}

.front-footer {
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    height: 100px;
    border-top: 1px solid #eee;
}

.el-dropdown-menu {
    width: 100px !important;
    text-align: center !important;
}

/*页面具体样式自定义*/
.front-home {
    width: 100%;
}

.main-content {
    width: 70%;
    margin: 120px auto 0;
    min-height: calc(100vh - 120px);
}

/* ElementUI 样式覆盖 */
.el-menu.el-menu--horizontal {
    border: none !important;
    height: 59px;
}

.el-menu-item, .is-top {
    font-size: 16px !important;
}

.el-menu-item:hover {
    background-color: #e6f1ff !important;
    color: #409eff;
}

.el-submenu__title:hover {
    background-color: #e6f1ff !important;
}

.card {
    padding: 10px;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.goods-item {
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.overflowShow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.index_footer {
    width: 100%;
    height: auto;
}

.table {
    height: 40vh;
    overflow: hidden;
}

.wallet {
    border: 1px solid #409EFF;
    padding: 10px 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    color: #409EFF;
    border-radius: 5px;
    cursor: pointer;
}

.wallet:hover {
    background-color: #e6f1ff;
    color: #409EFF;
}

.el-col .active {
    background-color: #409EFF;
    color: white;
    border-color: #409EFF;
}

.transition {
    cursor: pointer;
}

.transition:hover {
    border: 1px solid #409EFF;
}

.el-affix--fixed {
    position: fixed;
}

.el-affix-container {
    width: 150px;
    background-color: white;
    height: 180px;
    border-radius: 5px;
    box-shadow: rgba(7, 17, 27, 0.1) 0px 4px 8px 0px;
}

.el-affix-items {
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0px 10px;
}

.el-affix-item {
    display: flex;
    align-items: center;
}

.left-hot {
    margin-left: 10px;
    border-bottom: 1px solid #eae4e4;
    cursor: pointer;
    color: #6d7278;
}

.left-hot:hover {
    color: red !important;
    font-weight: 550;
}

.postTitle:hover {
    color: #409EFF;
}

.circle {
    padding: 10px 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.circle:not(.circle-active):hover {
    background-color: #e6f1ff;
    color: #409EFF;
}
.circle-active {
    background-color: #409EFF;
    color: #FFFFFF;
    border-radius: 5px;
}
.circle-box {
    display: flex;
    grid-gap: 10px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.circle-box:first-child {
    padding-top: 0;
}